*{
  overflow-x: hidden;
}

.bg{
  background-color:orange;
} 
.navitem{
  font-size: 45px;
  font-weight: bolder;
  color:black;
  margin-left: 9%;
}
.nav-link{
      font-size:17px;
      font-weight: bold;
}
.home :hover{
       background-color: red;
}
.carousel-caption{
  background: none !important;
}
.navbar{
  border-bottom: none;
}
.navmargin{
  margin: 0 !important;
  box-shadow: none !important;
}
.banner {
  background-image: url('/banner-bg.png');
  background-size: cover;
  background-position: center;
  height: 70vh; 
  display: flex;
}
.banner_text h1 {
  font-size: 70px; 
  font-family:sans-serif;
  color:white;
  margin-top: 15%;
}

.banner_text p {
  font-size: 20px;
  color:white;
  margin-top: 1rem;
}

.banner_text .btn {
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    padding: 80px 20px;
   
  }

  .banner_text h1 {
    font-size: 8vw; 
    margin-top:-20px;
  }

  .banner_text p {
    font-size: 3vw;
  }

  .banner_text .btn {
    font-size: 2vw;
    padding: 0.5rem 1rem;
  }
  }
.row  h1{
  margin-top: 7%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 90px;
  margin-left: 10px;
}
.row h3{
  margin-left: 10px;
}
.row p{
  margin-bottom:5%;
  margin-left: 10px;
  width:90%;
}
.pic{
  max-height: 100vh;
  margin-top: 3%;
  background-size: cover;

}


.head,.s{
  background-color:black;
  color:white;
  border: 1px solid white;
}  
.color :hover{
  background-color: red;
}
 .card {
  width: 100%;       
  max-width: 80%;  
  margin:0 auto;
}

.card-body {
  padding: 10px;
  text-align: center; 
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover; 
}
.tag{
  text-align: center;
  font-weight: bolder;
}
.myform{
  align-items: center;
  margin-left: 24%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 18px;
}
.myform1{
  margin-left:40%;
  max-width:50%;
}